<!DOCTYPE html>
<!-- all images are taken from https://theoffice.fandom.com/wiki/Main_Page -->
<!-- all data in modal's body is taken from https://theoffice.fandom.com/wiki/Main_Page -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.min.css">
    <title>{{{title}}}</title>
</head>
<body> 
            <div class="modal fade" id="mmodal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                                <h1 class="modal-title">Michael Scott</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                             <div class="modal-body">
                                Michael Gary Scott (born March 15, 1965) is a fictional character on The Office, portrayed by Steve Carell and based on David Brent from the British version of the program. Michael is the main character of the series, serving as the Regional Manager of the Scranton branch of a paper distribution company, known as Dunder Mifflin Inc. from seasons 1–7. However, he temporarily leaves Dunder Mifflin to form the Michael Scott Paper Company with Pam Beesly and Ryan Howard toward the end of the 5th season and shares a co-managerial position with Jim Halpert during a 6th season arc from "The Meeting" to "Manager and Salesman". In the end of the 7th season, he proposes to HR representative Holly Flax and moves to Colorado to take care of her aging parents, leaving the manager position to Deangelo Vickers in "Goodbye, Michael", to Andy Bernard in season 8, and ultimately to Dwight Schrute in season 9.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="jimmodal" tabindex="-1"  aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                                <h1 class="modal-title">Jim Halpert</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                             <div class="modal-body">
                                 James "Jim" Halpert (born October 1, 1978) is a fictional character in the U.S. version of the television sitcom The Office, portrayed by John Krasinski. The character is based on Tim Canterbury from the original version of The Office. The character is also named after a childhood friend of executive producer Greg Daniels. He is introduced as a sales representative at the Scranton branch of paper distribution company Dunder Mifflin, before temporarily transferring to the Stamford branch in the third season. Upon the merger of Scranton and Stamford branches, he becomes Assistant Regional Manager, and later co-manager alongside Michael Scott during the sixth-season episode arc from "The Promotion" to "Manager and Salesman".
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="pammodal" tabindex="-1"  aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                                <h1 class="modal-title">Pam Beesly</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                             <div class="modal-body">
                                 Pamela Morgan "Pam" Halpert (née Beesly; born March 25, 1979) is a fictional character on The Office, played by Jenna Fischer. Her counterpart in the original UK series of The Office is Dawn Tinsley. Her character is initially the receptionist at the paper distribution company Dunder Mifflin, before becoming a saleswoman and eventually office administrator until she left in the series finale. Her character is shy, growing assertive but amiable, and artistically inclined, and shares a romantic interest with Jim Halpert, whom she begins dating in the fourth season, and eventually, marries and starts a family with as the series continues.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="dwightmodal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                                <h1 class="modal-title">Dwight Schrute</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                             <div class="modal-body">
                                 Dwight Kurt Schrute III (born January 20, 1970) is a fictional character on The Office portrayed by Rainn Wilson. He is one of the highest-ranking salesmen as well as the original assistant to the regional manager, (disputed)[1], and former Assistant Regional Manager at the paper distribution company Dunder Mifflin. Additionally, he is a bed-and-breakfast proprietor at Schrute Farms, a beet plantation owner, and an owner of the business park in which Dunder Mifflin exists. He is notorious for his lack of social skills and common sense, his love for martial arts and the justice system, and his office rivalry with fellow salesman Jim Halpert. He is also known for his romantic relationship with Angela Martin, head of the accounting department. He has at times risen to the position of acting Branch Manager of the Scranton branch, but often serves as a second or third in command as Assistant (to the) Regional Manager. While Dwight was a regional manager in the last few episodes of the series, he named himself the Assistant to the Assistant to the Regional Manager (A.A.R.M). Dwight was also the Vice President of Special Projects Development for the Sabre Corporation, which was the parent company of Dunder Mifflin at the time, but was soon replaced by Todd Packer, who was almost immediately terminated. In the final season, Dwight is offered the position of permanent Regional Manager.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="angelamodal" tabindex="-1"  aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                                <h1 class="modal-title">Angela Martin</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                             <div class="modal-body">
                                 Angela Noelle Schrute (née Martin, formerly Lipton) is a fictional character played by Angela Kinsey. She is head of the Accounting department at Dunder Mifflin Scranton. She can often be cold and stern with others. Angela loves cats and owned several of them.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="kellymodal" tabindex="-1"  aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                                <h1 class="modal-title">Kelly Kapoor</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                             <div class="modal-body">
                                 Kelly Rajnigandha Kapoor (केली रजनीगन्धा कपूर‌, Kelī Rajnīgandhā Kapūr), (born February 5, 1982) is a fictional character on The Office played by one of the show's writers Mindy Kaling. She is the former Customer Service Representative at Dunder Mifflin/Sabre's Scranton Branch, but left for Ohio with her then-boyfriend, Ravi, in Season 9, therefore leaving Dunder Mifflin.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

             <div class="modal fade" id="oscarmodal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                                <h1 class="modal-title">Oscar Martinez</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                             <div class="modal-body">
                                 Oscar Martinez is a fictional character played by Oscar Nunez on The Office. He is an accountant at the Scranton branch of Dunder Mifflin.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="andymodal" tabindex="-1"  aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                                <h1 class="modal-title">Andy Bernard</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                             <div class="modal-body">
                                Andrew Baines "Andy" Bernard (born Walter Baines Bernard Jr.; born January 24, 1973) is a fictional character from the NBC comedy television series The Office, portrayed by Ed Helms. He has no counterpart in the original British version of the series. He is introduced as the Regional Director in Charge of Sales at the Stamford branch of paper distribution company Dunder Mifflin in the third-season premiere when Jim Halpert transfers, ultimately merging with the Scranton branch in the episode "The Merger" later in the season. He becomes Regional Manager at the Scranton branch courtesy of Robert California in the eighth-season premiere following the departure of Michael Scott and Deangelo Vickers, although temporarily is fired and replaced by Nellie Bertram before his reinstatement by new CEO David Wallace. Although throughout the ninth season, Andy's relationship with Wallace deteriorates from Andy's lack of focus and professionalism, eventually culminating in Andy's voluntary resignation, to his reinstatement as a salesman to his eventual firing again, after Andy's vulgar actions cause David Wallace to fire him, which he uses to his advantage in order to pursue a singing career. This all happens over the course of one day in "Livin' the Dream".
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="modal fade" id="ryanmodal" tabindex="-1"  aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                                <h1 class="modal-title">Ryan Howard</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                             <div class="modal-body">
                                 Ryan Howard is an American salesman, former receptionist, and convicted fraudster who works at Dunder Mifflin. He was a temporary employee until he is promoted as Vice President of Sales. However, David Wallace demotes him when the Michael Scott Paper Company is acquired by Dunder Mifflin. He also worked at the Michael Scott Paper Company until the acquisition. Ryan was convicted of fraud for misleading the shareholders of Dunder Mifflin, and was arrested. However, he was released and required to do community service.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

           

             <div class="modal fade" id="stanleymodal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                                <h1 class="modal-title">Stanley Hudson</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                             <div class="modal-body">
                                 Stanley Hudson (born July 14, 1951) is a fictional character played by Leslie David Baker in the television series The Office. He is a salesman at Dunder Mifflin Scranton and sits across from Phyllis Vance.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            

            <div class="modal fade" id="erinmodal" tabindex="-1"  aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                                <h1 class="modal-title">Erin Hannon</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                             <div class="modal-body">
                                 Kelly Erin Hannon (born May 1, 1986)[1] is a fictional character from the U.S. comedy television series The Office. She is the office receptionist for the Scranton branch of Dunder Mifflin, a position previously held by Pam Beesly before she quit to go work for the Michael Scott Paper Company.
Erin is portrayed by Ellie Kemper. She is an original character, although her closest equivalent in the British version of the series would be Mel the receptionist, who appears briefly in The Christmas specials, as Dawn Tinsley's replacement.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="kevinmodal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                                <h1 class="modal-title">Kevin Malone</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                             <div class="modal-body">
                                Kevin Malone (born June 1, 1968) is a fictional character in the American television series The Office. He was played by Brian Baumgartner. Kevin is one of the few minor characters in The Office to be directly based on a character from the British original version. He is based on Keith Bishop, who shares Kevin's lack of communication skills, musical interest, and large size. Kevin is a part of the accounting department at Dunder Mifflin Scranton. The other accountants are Oscar Martinez and Angela Martin. Slate magazine named the character as one of the reasons they were looking forward to the return of the show in fall 2007.[1]
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

    <div class="container-fluid">
        <div class = "row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <nav class="navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#michael">Michael Scott</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#jim">Jim Halpert</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#pam">Pam Beesly</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#dwight">Dwight Schrute</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#angela">Angela Martin</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#kelly">Kelly Kapoor</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#oscar">Oscar Martinez</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#andy">Andy Bernard</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#ryan">Ryan Howard</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#stanley">Stanley Hudson</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#erin">Erin Hannon</a>
                        </li>

                         <li class="nav-item">
                            <a class="nav-link" href="#kevin">Kevin Malone</a>
                        </li>
                    </ul>
                </nav>
            </div>
            
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card" id="michael" >
                                <img src="../public/img/Michael.png" class="img-fluid card-img-top office-img" alt="Michael Scott">
                                <div class="card-body">
                                    <h1 class="card-title">Michael Scott</h1>
                                    <p class="card-text text-wrap">"A good manager doesn't fire people. He hires people and inspires people. … People, Ryan. And people will never go out of business."</p>
                                    <a href="#mmodal" class="btn" data-bs-toggle="modal" data-bs-target="#mmodal">View More</a>
                                    {{!-- <a href="#michaelmodal" class="btn" data-bs-toggle="modal" data-bs-target="#michaelmodal">View More</a> --}}
                                </div>
                            </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card" id="jim">
                                <img src="../public/img/JimHalpert.png" class="img-fluid card-img-top office-img" alt="...">
                                <div class="card-body">
                                    <h1 class="card-title">Jim Halpert</h1>
                                    <p class="card-text">"Fact, bears eat beets. Bears, beets, "Battlestar Galactica." "</p>
                                    <a href="#jimmodal" class="btn" data-bs-toggle="modal" data-bs-target="#jimmodal">View More</a>

                                </div>
                            </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card" id="pam">
                                <img src="../public/img/PamBeesley.png" class="img-fluid card-img-top office-img" alt="...">
                                <div class="card-body">
                                    <h1 class="card-title">Pam Beesly</h1>
                                    <p class="card-text">"I hate the idea that someone out there hates me. I even hate thinking that Al-Qaeda hates me. I think if they got to know me, they wouldn’t hate me."</p>
                                    <a href="#pammodal" class="btn" data-bs-toggle="modal" data-bs-target="#pammodal">View More</a>
                                </div>
                            </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card" id="dwight">
                            <img src="../public/img/Dwight.png" class="img-fluid card-img-top office-img" alt="...">
                            <div class="card-body">
                                <h1 class="card-title">Dwight Schrute</h1>
                                <p class="card-text">"Whenever I'm about to do something, I think, "Would an idiot do that?" And if they would, I do not do that thing."</p>
                                <a href="#dwightmodal" class="btn" data-bs-toggle="modal" data-bs-target="#dwightmodal">View More</a>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card" id="angela">
                                <img src="../public/img/AngelaMartin.png" class="img-fluid card-img-top office-img" alt="...">
                                <div class="card-body">
                                    <h1 class="card-title">Angela Martin</h1>
                                    <p class="card-text">"I normally don’t enjoy making people laugh."</p>
                                        <a href="#angelamodal" class="btn" data-bs-toggle="modal" data-bs-target="#angelamodal">View More</a>
                                
                                </div>
                            </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card" id="kelly">
                                <img src="../public/img/KellyKapoor.png" class="img-fluid card-img-top office-img" alt="...">
                                <div class="card-body">
                                    <h1 class="card-title">Kelly Kapoor</h1>
                                    <p class="card-text">"I talk a lot, so I've learned to just tune myself out."</p>
                                                                    <a href="#kellymodal" class="btn" data-bs-toggle="modal" data-bs-target="#kellymodal">View More</a>

                                </div>
                            </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card" id="oscar">
                                <img src="../public/img/OscarMartinez.png" class="img-fluid card-img-top office-img" alt="...">
                                <div class="card-body">
                                    <h1 class="card-title">Oscar Martinez</h1>
                                    <p class="card-text">"Around here, Oscar is known as "Actually," because he will insert himself into just about any conversation to add facts or correct grammar. He really does fit that old stereotype of the smug gay Mexican."</p>
                                                                    <a href="#oscarmodal" class="btn" data-bs-toggle="modal" data-bs-target="#oscarmodal">View More</a>

                                </div>
                            </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card" id="andy">
                                <img src="../public/img/Andy.png" class="img-fluid card-img-top office-img" alt="...">
                                <div class="card-body">
                                    <h1 class="card-title">Andy Bernard</h1>
                                    <p class="card-text">"I wish there was a way to know you’re in the "good old days" before you’ve actually left them."</p>
                                                                    <a href="#andymodal" class="btn" data-bs-toggle="modal" data-bs-target="#andymodal">View More</a>

                                </div>
                            </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card" id="ryan">
                                <img src="../public/img/RyanHoward.png" class="img-fluid card-img-top office-img" alt="...">
                                <div class="card-body">
                                    <h1 class="card-title">Ryan Howard</h1>
                                    <p class="card-text">"If I had to I could clean out my desk in five seconds and nobody would ever know I had ever been here. And I’d forget too."</p>
                                                                    <a href="#ryanmodal" class="btn" data-bs-toggle="modal" data-bs-target="#ryanmodal">View More</a>

                                </div>
                            </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card" id="stanley">
                                <img src="../public/img/StanleyHudson.png" class="img-fluid card-img-top office-img" alt="...">
                                <div class="card-body">
                                    <h1 class="card-title">Stanley Hudson</h1>
                                    <p class="card-text">"Yes, I have a dream, and it's not some MLK dream for equality. I want to own a decommissioned lighthouse. And I want to live at the top. And nobody knows I live there. And there's a button that I can press and launch that lighthouse...into space."</p>
                                        <a href="#stanleymodal" class="btn" data-bs-toggle="modal" data-bs-target="#stanleymodal">View More</a>
                                    
                                </div>
                            </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card" id="erin">
                                <img src="../public/img/ErinHannon.png" class="img-fluid card-img-top office-img" alt="...">
                                <div class="card-body">
                                    <h1 class="card-title">Erin Hannon</h1>
                                    <p class="card-text">"	Planking is one of those things where, eh, you either get it or you don't. And I don't. But I am so excited to be a part of it!"</p>
                                        <a href="#erinmodal" class="btn" data-bs-toggle="modal" data-bs-target="#erinmodal">View More</a>
                            
                                </div>
                            </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card" id="kevin">
                                <img src="../public/img/Kevin.png" class="img-fluid card-img-top office-img" alt="...">
                                <div class="card-body">
                                    <h1 class="card-title">Kevin Malone</h1>
                                    <p class="card-text">"I have very little patience for stupidity."</p>
                                        <a href="#kevinmodal" class="btn" data-bs-toggle="modal" data-bs-target="#kevinmodal">View More</a>
                                
                                </div>
                            </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <script src="/public/js/vendor.min.js"></script>

</body>
</html>